<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Home</title>
    <link
      rel="stylesheet"
      href="../static/css/main.css"
    />

</head>

<body>
    <div id="body">
        {% include 'navbar.html' %}
        <div id="content-2">
            {% include 'header.html' %}
            <div id="container">
              <main id="main">
                  <p>
                      The Game library web is for the gamers to search the many games and check the details about the games. Also, we supply the game genre
            for gamers to find the specified game. Besides, gamers can search the games they know. However, if you do not know
            what kinds of games you wanna play, you can just click the Library button to check many different games there.
            <br><br>
            The Game web is for every user to find game and enjoy the game life.
            <br><br>
            We are happy for everyone come to the web to find games.
                  </p>
                </main>
            </div> 
        </div>
    </div>
</body>
</html>